.header {
    margin-top: 50px;
    background-color: $bg-color;
    &__menu {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    &__links {
        text-decoration: none;
        color: #E5E5E5;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        cursor: pointer;
        &:hover{
            color: $btn-color;
        }
        &-center {
            border-left: 1px solid #C4C4C4;
            border-right: 1px solid #C4C4C4;
            padding: 0 148px 0 148px;
        }
    }
}
